In [1]:
# import in pandas to get a quick view
import pandas as pd
import numpy as np
collist = []
df = pd.read_csv('event_datafile_new.csv')

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6820 entries, 0 to 6819
Data columns (total 11 columns):
artist           6820 non-null object
firstName        6820 non-null object
gender           6820 non-null object
itemInSession    6820 non-null int64
lastName         6820 non-null object
length           6820 non-null float64
level            6820 non-null object
location         6820 non-null object
sessionId        6820 non-null int64
song             6820 non-null object
userId           6820 non-null int64
dtypes: float64(1), int64(3), object(7)
memory usage: 586.2+ KB

In [3]:
#read in columns to create tables
df.columns

n=0

for i in df.columns:
    x = str(n) + str(' ') + str(i) + str(' text')
    x.casefold()
    n = n+1
    collist.append(x)
collist = [x.lower() for x in collist]
print(collist)

['0 artist text', '1 firstname text', '2 gender text', '3 iteminsession text', '4 lastname text', '5 length text', '6 level text', '7 location text', '8 sessionid text', '9 song text', '10 userid text']

In [4]:
## TO-DO: Query 2: Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name)\
## for userid = 10, sessionid = 182

#df[df['sessionId'] == 336]
df[(df['sessionId'] == 338) | (df['sessionId'] == 4)]

,artist,firstName,gender,itemInSession,lastName,length,level,location,sessionId,song,userId
1906,Pixies,Ava,F,1,Robinson,89.36444,free,"New Haven-Milford, CT",338,Build High,50
1907,The Roots / Jack Davey,Ava,F,2,Robinson,155.95057,free,"New Haven-Milford, CT",338,Atonement,50
1908,Mike And The Mechanics,Ava,F,3,Robinson,275.12118,free,"New Haven-Milford, CT",338,A Beggar On A Beach Of Gold,50
1909,Faithless,Ava,F,4,Robinson,495.30730,free,"New Haven-Milford, CT",338,Music Matters (Mark Knight Dub),50

In [8]:
np.sort(df['sessionId'].unique())

array([   3,    5,    6,    8,    9,   10,   15,   17,   19,   21,   23,
         28,   31,   33,   42,   47,   52,   53,   56,   58,   59,   60,
         64,   66,   70,   72,   75,   78,   82,   83,   86,   87,   88,
         90,   91,  100,  107,  108,  112,  113,  117,  118,  124,  125,
        126,  128,  129,  130,  131,  132,  133,  134,  135,  136,  138,
        139,  140,  141,  142,  143,  145,  147,  148,  150,  152,  153,
        156,  157,  158,  159,  162,  164,  165,  166,  167,  168,  169,
        170,  171,  172,  174,  176,  177,  178,  179,  181,  182,  183,
        184,  185,  186,  187,  188,  189,  190,  191,  192,  193,  194,
        195,  196,  197,  198,  199,  204,  205,  206,  207,  208,  209,
        210,  211,  212,  213,  215,  218,  219,  220,  221,  222,  223,
        224,  225,  226,  227,  228,  229,  231,  232,  235,  237,  239,
        240,  242,  243,  244,  245,  246,  247,  248,  249,  250,  251,
        252,  254,  255,  256,  258,  259,  261,  262,  263,  264,  265,
        266,  267,  268,  269,  270,  271,  272,  274,  275,  276,  277,
        278,  279,  280,  282,  284,  285,  286,  288,  290,  291,  292,
        293,  294,  295,  296,  297,  298,  299,  300,  301,  304,  305,
        307,  311,  312,  313,  314,  315,  316,  317,  318,  319,  321,
        322,  323,  324,  325,  328,  329,  330,  331,  333,  334,  335,
        336,  338,  339,  340,  341,  342,  343,  344,  345,  346,  349,
        350,  351,  353,  354,  356,  357,  358,  360,  362,  363,  364,
        366,  368,  369,  370,  371,  372,  373,  374,  375,  376,  377,
        378,  379,  380,  381,  382,  383,  384,  386,  387,  388,  389,
        391,  392,  393,  394,  395,  396,  397,  398,  399,  402,  403,
        404,  405,  406,  407,  408,  409,  410,  411,  413,  414,  415,
        416,  417,  418,  419,  420,  421,  422,  423,  425,  427,  428,
        430,  431,  432,  433,  434,  435,  436,  437,  438,  439,  440,
        441,  442,  443,  444,  445,  446,  447,  448,  449,  450,  451,
        452,  453,  454,  455,  456,  458,  459,  461,  462,  464,  465,
        467,  468,  469,  471,  472,  473,  474,  475,  476,  477,  478,
        479,  480,  481,  482,  484,  485,  486,  487,  488,  489,  490,
        491,  492,  493,  494,  495,  496,  497,  498,  499,  500,  501,
        502,  503,  504,  505,  506,  507,  508,  509,  510,  511,  512,
        514,  515,  516,  517,  518,  520,  522,  525,  526,  527,  528,
        529,  530,  531,  532,  533,  534,  535,  537,  538,  540,  541,
        542,  543,  544,  545,  546,  547,  548,  549,  550,  551,  552,
        553,  554,  555,  556,  557,  558,  559,  561,  564,  565,  568,
        570,  571,  572,  574,  575,  576,  577,  578,  579,  581,  582,
        583,  584,  585,  587,  588,  589,  591,  592,  594,  595,  597,
        598,  599,  600,  601,  602,  603,  604,  605,  606,  607,  609,
        610,  611,  612,  614,  616,  617,  618,  619,  620,  621,  622,
        623,  624,  625,  626,  627,  628,  629,  630,  631,  632,  633,
        634,  636,  637,  639,  640,  642,  644,  645,  646,  647,  648,
        649,  651,  653,  656,  657,  658,  659,  660,  661,  662,  663,
        665,  666,  667,  669,  670,  671,  672,  673,  675,  676,  677,
        679,  680,  681,  682,  683,  684,  686,  687,  688,  690,  691,
        692,  693,  694,  695,  696,  697,  698,  702,  703,  704,  705,
        706,  707,  708,  709,  710,  711,  714,  715,  716,  717,  719,
        720,  721,  722,  723,  724,  725,  726,  727,  728,  729,  732,
        735,  736,  739,  740,  743,  744,  745,  746,  747,  748,  749,
        751,  755,  756,  758,  759,  760,  761,  763,  764,  765,  767,
        768,  770,  772,  773,  774,  776,  781,  783,  784,  785,  786,
        787,  789,  790,  791,  793,  794,  796,  797,  798,  800,  801,
        805,  806,  807,  808,  809,  810,  811,  812,  813,  814,  815,
        816,  817,  818,  819,  820,  821,  822,  823,  824,  825,  826,
        827,  828,  829,  833,  834,  836,  837,  838,  839,  841,  842,
        843,  845,  846,  847,  848,  849,  850,  851,  852,  853,  854,
        856,  858,  860,  864,  865,  867,  868,  869,  870,  871,  873,
        874,  875,  876,  877,  879,  881,  883,  884,  885,  886,  887,
        888,  889,  890,  891,  892,  893,  896,  898,  899,  900,  901,
        903,  904,  905,  906,  908,  910,  913,  915,  916,  917,  919,
        921,  922,  923,  924,  925,  926,  927,  929,  930,  931,  933,
        934,  935,  936,  937,  938,  940,  941,  942,  944,  946,  948,
        949,  951,  953,  954,  955,  957,  958,  959,  960,  961,  963,
        964,  967,  968,  969,  976,  977,  978,  979,  982,  983,  984,
        985,  986,  987,  988,  989,  990,  991,  992,  996,  998,  999,
       1000, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1010, 1011, 1013,
       1016, 1017, 1019, 1020, 1023, 1026, 1029, 1032, 1036, 1038, 1039,
       1041, 1045, 1046, 1047, 1049, 1050, 1051, 1054, 1055, 1058, 1059,
       1060, 1064, 1065, 1068, 1069, 1075, 1076, 1078, 1079, 1082, 1085,
       1090, 1092, 1096, 1097, 1100, 1114])

In [9]:
df.columns

Index(['artist', 'firstName', 'gender', 'itemInSession', 'lastName', 'length',
       'level', 'location', 'sessionId', 'song', 'userId'],
      dtype='object')

In [10]:
df[df['song'] == 'All Hands Against His Own']

,artist,firstName,gender,itemInSession,lastName,length,level,location,sessionId,song,userId
84,The Black Keys,Tegan,F,25,Levine,196.91057,paid,"Portland-South Portland, ME",611,All Hands Against His Own,80
3810,The Black Keys,Sara,F,31,Johnson,196.91057,paid,"Winston-Salem, NC",152,All Hands Against His Own,95
4282,The Black Keys,Jacqueline,F,50,Lynch,196.91057,paid,"Atlanta-Sandy Springs-Roswell, GA",559,All Hands Against His Own,29